body{
    background-image: url(img/lion.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;

}
.container{
    display: flex;
    justify-content: center;
    
}

#carouselExampleDark{
    margin: auto;
    width : 20%;

    text-align: center;
}
#secd{
    color: white;
    grid-gap: 50px 0px;
}
#secc{
    color: white;
}
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px 0px;
    align-items: center;
    justify-items: center;
    width: 1000px;
    flex-wrap: wrap;
    gap: 10px;
}
a{
    text-decoration: none;
    color: white;
    text-align: center ;
    align-content: center;
    justify-content: center;

}

.container-card{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 10px;
}
#nikeb{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px 0px;
    align-items: center;
    justify-items: center;
    width: 1000px;
    flex-wrap: wrap;
    gap: 10px;
}
#adidasb{
    background-image:url(img/lion.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;

}
#pumab{
    background-image:url(img/lion.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
}
#f{
    width: 250px;
    border-radius: 80px;
    border: 2px solid dimgrey;
}
#titsec{
    color: white;
    text-align: center  ;
    margin-top: 30px;
}
#nv{ 
    background-color: white;
}
#qs{/* quienes somos en la barra */
    text-align: center;
    color: white;
}
#loremlk{/* Texto lorem de apartado lionkicks */
    text-align: center;
    color: white;
    margin: auto;
    width: 55%;

}
#flk{/* footer lionkicks(contato) */
    text-align:center;
    color: white;
}
#nkv{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 50px 0px;
    align-items: center;
    justify-items: center; 
}
#lcont{
    color: white;
    text-align: left;
    display: inline-block;
}
#contn{
    text-align: center  ;
    margin-top:40px;
}
#finpage{
    color: white;
}
#descrZ{
    color: white;
    text-align: center;
    margin: auto;
    width: 40%;
}
#contn2{
    color: white;
    text-align: center;
    text-decoration: underline;
}
#logo{
    width: 100%;
    justify-content: center;

}
a:hover{
    opacity: 0.8;
}
#ProxE{
    color: white;
}
#ProxEIT{
    color: white;
    text-decoration: underline;
}
@media(max-width:1060px){
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 

    }
    #nikeb{
        grid-template-columns: repeat(2, 1fr); 
        width:500px;
    }
    .container{
        width:500px;
    }
}
.grid-item{
    color:white;
    text-align: center;
}
.card{
    align-items: center;
    justify-items: center;
    background-attachment: fixed;
}
.container-fluid{
    justify-content:space-between;
}
.item{
    width:80px;
    height: 80px;
    display:flex;
    align-items: center;
}
.i3{
width: auto;
}
.carouselExampleDark{
    display: flex;   
    align-items: center;
}
<<<<<<< HEAD

=======
>>>>>>> 02f160bfcce120a1a5c6b09622908de0597847e1
.carousel-item img{
    height: 60vh;
    object-fit: cover;
}
.carousel{
        max-width: 1200px;
        margin: 0 auto;
}
